

/*RESET*/
*{
    padding: 0; margin: 0; top: 0; bottom: 0; left: 0; right: 0; box-sizing: border-box; font-family:'poppins',Arial, Helvetica, sans-serif;
}

/*BODY*/
body{
    background-color:#0E0C14;
}

/*INFO CHIP*/
.info-chip{
    width: 450px;
    height: 550px;
    border-radius:50px;
    padding:10px;
    background-color:rgba(27, 25, 48, 0.490);
    margin:3rem auto;

    /*INFO CHIP CONTEINER*/
    .info-chip-conteiner{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
}

/*INSIDE INFO-CHIP CONTEINER*/
.info-chip-conteiner{

    /*PHOTO BOX*/
    .profile-photo{
        display:flex;
        justify-content: center;
        margin:10px auto;
        border-radius: 100%;
        width: 120px;
        height: 120px;
        background-color: rgba(23, 22, 41, .900);
    }

    /*PHOTO*/
    .photo{
        margin:10px auto;
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
}

/*PROFILE NAME AND PROFILE OCCUPATION*/
.info-chip-conteiner{

    .profile-name{
        display:flex;
        justify-content: center;

        /*THE NAME*/
        h1{
            font-weight:500;
            font-size:28px;
            color:#FFF;
        }
    }

    .profile-occupation{
        display:flex;
        justify-content: center;

        /*THE OCCUPATION*/
        h4{
            font-weight:300;
            font-size: 18px;
            color:#FFF;
        }
    }
}

/*INFO CHIP LINKS SECTIONS*/
.info-chip-links{
    display:flex;
    flex-direction:column;
    margin-left: 40px;
}